html{
	background-color:skyblue;
}
.first{
	background-color:black;
	color:white;
}
.last{
	color:red;
}
.st{
	background-color:white;
}
.second{
	background-color:stalegrey;
}
.third{
	background-color:pink;
}
.fourth{
	background-color:stalegrey;
}
.fifth{
	background-color:white;
}